

@import 'breakpoints.scss';

.cellParent, .categoryRow {
    display: grid;
    grid-template-columns: 48% 48%;
    text-align:center;
    row-gap: 30px;
    column-gap: 4%;
    justify-items: center;
    box-sizing:content-box;
}

.cellParent h3 {
    margin:0;
    font-size:55px;
}
.cellParent h5 {
    margin:0;
    font-size:24px;
    color:var(--white);
    opacity:.5;
}

.achievement {
    cursor:pointer;
    padding:20px;
    text-align:left;
    width: 100%;
    background:var(--dark-grey);
    border-radius: 10px;
}

.achievement h4 {
    margin: 0 0 20px 0;
    font-size:24px;
    text-transform: uppercase;
    font-weight: 400;
}

.address {
    text-align:center;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom:40px;
    position: relative;
    overflow:hidden;
    height:40px;

}

.address h2 {
    padding: 10px;
    display:inline;
}

.categoryRow {
    margin:30px 0 50px;
    grid-template-columns: 50% 50%;
    column-gap: 0
} 

.stats, .radar, .categoriesWrapper {
    width:100%;
    text-align: left;
}

.stats {
    grid-template-columns: 30% 30% 30%;
    text-align:center;
    row-gap: 30px;
    column-gap: 5%;
    justify-items: center;
    box-sizing:content-box;
    .stat {
        // background:linear-gradient(to bottom right, var(--main-color3), var(--main-color1));
        border:1px solid var(--main-color3);
        width: 100%;
        padding:20px 0;
        &:first-child {
            border-color:var(--main-color1);
        }
        &:last-child {
            border-color:var(--main-color5);
        }
        h2 {
            color:var(--main-color1);
            font-size:65px;
            color:var(--white);
            margin:0;
        }
        h4 {
            opacity:.7;
            font-size:16px;
            margin:0 0 10px;
        }
    }
}

.statsWrapper {
    position:relative;
}

.statsLogo {
    position:absolute; 
    right:0;
    top:10px;
    // Season 3
    filter: hue-rotate(44deg);
}

.vault {
    h1 {
        text-transform: uppercase !important;
    }
}

.season {
    border:1px solid var(--main-color3);
    padding:20px;
    margin:20px 0;
    .seasonHeader {
        display:grid;
        grid-template-columns: 50% 25% 25%;
        align-items: center;
        h3 {
            margin:0;
        }
        h4 {
            margin:0;
            color: rgba(255, 255, 255, .5);
            font-size:20px;
            text-align: right;
            position: relative;
            top: -3px;
            label {
                font-size:30px;
                color: var(--white);
                position: relative;
                top: 3px;
                padding-left: 15px;
            }
        }
    }
    .cellParent {
        margin-top:20px;
    }
}

@include mobile {
    .cellParent, .categoryRow {
      grid-template-columns: 100%;
    }
  }