@font-face {
    font-family: 'BankGothic DB';
    src: url(../public/fonts/BankGothic-Regular.woff2) format('woff2'),
        url(../public/fonts/BankGothic-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

