@import 'breakpoints.scss';
.btn {
  padding:3px;
  @include gradient-border(var(--main-color1), var(--main-color3), var(--main-color5), 1px, 'to bottom right');
  display:inline-block;
  border-radius: 8px;
  border-bottom:none !important;
  min-height:43px;
  strong {
    background: black;
    color: var(--white);
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    // @include gradient-border(var(--main-color1), var(--main-color3), var(--main-color5), 1px, 'to right');
    border-bottom: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight:bold;
  }
  &:hover {
    strong {
      background:var(--white);
      color:var(--black);
    }
  }
}

.btnWrapper {
  span {
    display: block;
    margin-top: 10px;
    opacity: .5;
    font-weight: lighter;
    font-size: 14px;
  }
}

.connect .manualAddressInput {
  margin-top: 30px;
  max-width: 400px;
  width:100%;

  input {
    color: var(--white);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 4px;
    background: var(--black);
  }

  input {
    width: 70%;

    &:focus {
      // background: var(--main-color2);
      color: var(--main-color2);
    }
  }

  button {
    padding:10px 5px;
    width: auto;
    margin-left: 5px;
    strong {
      padding: 5px 20px;
    }
  }
}

.mintBtn {
  strong {
    font-size: 18px;
    padding: 10px 40px;
    border-bottom: none !important;
    display: inline-block;
    > span {
      padding-left:10px;
      font-size:14px;
      color:var(--main-color2);
    }
  }
}

.tooltip {
  margin: 10px auto;
  text-align: center;
  position:relative;
  font-size: 10px;

  strong {
    opacity: .5;
    cursor: help;
    font-weight: normal;
    border-bottom: 1px dashed var(--main-color3);

    &:hover {
      opacity: 1;
    }
  }


  &:hover div {
    display: block;
    opacity: 1;
  }
}

.supported {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 220px;
  text-align: left;
  color: var(--main-color3);
  position:absolute;
  left:calc(50% - 110px);
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li span {
    color: #ccc
  }
}
