@import 'breakpoints.scss';

.footer {
  padding: 0 20px;
  min-height: 600px;
  max-width: var(--max-width);
  background-size:size;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
}

.topRow {
  min-height:258px;
  background:url('../public/bg-subscribe.png') no-repeat 50% 0;
  background-size: contain;
  padding-left:4vw;
  h2 {
    font-size:38px;
    margin-bottom:0;
    text-transform: uppercase;
  }
  p {
    font-size:12px;
    color:var(--white);
  }
}

.coin {
  position:absolute;
  right: 0;
  top: -105px;
  transform: scale(1);
  animation: pulse 5s infinite;
}

.topRow, .secondRow {
  display: grid;
  grid-template-rows: auto;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  justify-content: start;
  position:relative;
}

.form {
  width:100%;
}

.form input[type=submit] {
  background:url("../public/btn-mid.png") no-repeat;
  background-size: contain;
  color: var(--white);
  padding: 10px 13px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  border:none;
}

.form input[type=email] {
  color: var(--white);
  fill: linear-gradient(180deg, rgba(37, 37, 37, 0.20) 0%, rgba(15, 15, 15, 0.20) 100%);
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.32) inset;
  backdrop-filter: blur(42px);
  padding:10px;
  margin-right:10px;
  border:1px solid var(--white);
  border-radius:4px;
  background:transparent;
  width:62%;
  &:focus {
    color:var(--white);
    background: var(--black);
  }
  &::placeholder {
    color: var(--black);
  }
}

.secondRow {
  border-top:1px solid rgba(255, 255, 255, .09);
  grid-template-columns: 33% 33% 33%;
  margin-top:100px;
  padding-top:60px;
  justify-items: start;
  p {
    color: var(--white);
    opacity: .5;
  }
}

.links {
  justify-self: end;
  a {
    color: var(--white);
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}

.social {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin-top:20px;
   h3 {
    margin: 10px 0;
    white-space: nowrap;
    font-size:20px;
    min-width:300px;
   }
   ul {
    margin:0;
    padding:0;
  }
  li {
    display:inline-block; 
    margin: 0 10px;
    
    // @include gradient-border(var(--main-color1), var(--main-color3), var(--main-color5), 1px, 'to right');
    &.twitter a {
      background:url(../public/twitter.svg) no-repeat;
    }
    &.telegram a {
      background:url(../public/telegram.svg) no-repeat;
    }
    &.github a {
      background:url(../public/github.svg) no-repeat;
    }
    span {
      visibility: hidden;;
    }
  }
  li a {
    background:url(../public/discord.svg) no-repeat;
    height:22px;
    width:22px;
    display: block;
    padding:0;
  }
}

.links {
  text-align:right;
  li {
    margin: 10px 0;
    list-style: none;
  }

}
.copyright {
  padding: 0 0 20px;
  opacity:.5;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing:1px;
  line-height:20px;
  a {
    position: relative;
    display:inline-block;
    width:115px;
    height:20px;
    left:10px;
    text-indent:-23000px;
    background:url(../public/logo_examp.png) no-repeat 50% 0;
  }
  &:hover {
    opacity:1;
  }
}

@include tablet {
  .topRow {
    background-size: auto;
    border-radius: 35px;
  }
  .coin {
    display:none;
  }
}


@include mobile {
  .footer {
    padding:20px 0;
  }
  .topRow, .social {
    grid-template-columns: 100%;
    padding:20px;
  }
  .social {
    margin-top: 0;
    text-align: center;
  }
  .secondRow {
    padding:20px;
    margin-top:50px;
    grid-template-columns: 100%;
  }
  .topRow {
    background-size: auto;
    border-radius: 35px;
  }
  .coin {
    display:none;
  }
}