@import 'breakpoints.scss';

:root {
  // Season 1
  // --main-color1: #59022B;
  // --main-color2: #D90479;
  // --main-color3: #D9048E;
  // --main-color4: #BC04BF;
  // --main-color5: #6503A6;

  // Season 2
  // --main-color1: #023373;
  // --main-color2: #0468BF;
  // --main-color3: #05AFF2;
  // --main-color4: #05C7F2;
  // --main-color5: #05DBF2;

  // // Season 3
  // --main-color1: #00EC26;
  // --main-color2: #AADC01;
  // --main-color3: #FFD701;
  // --main-color4: #FF6D19;
  // --main-color5: #FF2B28;

  // Season 4
  --main-color1: #0B181D;
  --main-color2: #1E9CC9;
  --main-color3: #1DACD3;
  --main-color4: #18CFE8;
  --main-color5: #95CADC;

  // Season 5
  --main-color1: #0B181D;
  --main-color2: #7154FF;
  --main-color3: #E9B7FF;
  --main-color4: #f3d0ff;
  --main-color5: #f7e0ff;

  --white: #fff;
  --black: #000;
  --dark-grey: rgba(48, 151, 186, .1);

  --max-width: 1040px;
}

button {
  background-color: transparent;
}
html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0e0e0e;
  // background:radial-gradient(circle, #111d23 0%, #0d1113 64%, #0e0e0e 100%);
  color:var(--main-color5);
  height:100%;
}

body {
  padding-top:20px;
}

@keyframes slide {
  from{
      background-position:0 100%;
  }
  to{
      background-position:-1437px 100%;
  }
}


body {
  background:url('../public/bg-page.png') 50% -800px repeat-y;
  height:auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin:0;
  color:var(--white);
}

h3 {
  background: linear-gradient(180deg, #FFF 50%, #EEBAFF 75%, #664BFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
} 

button {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

.content {
  max-width: var(--max-width);
  min-height:200px;
  margin:0 auto;
  padding:50px 20px 0;
  text-align: left;
  .btn { 
    color:white;
    padding:15px 25px;
    text-transform: uppercase;
    font-size:18px;
    margin:0 auto;
    display:inline-block;
    border-bottom:none;
  }
  td {
    border:1px solid var(--main-color5);
    &:first-child {
      font-family:monospace;
    }
  }
  
}

.greybox {
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.04) 50%, rgba(255, 255, 255, 0.07) 100%);
  backdrop-filter: blur(42px);
  border-radius: 32px;
  padding:20px;
}

.header .connect span {
  font-size:10px !important;
  text-align: center;
  a {
    border-bottom: 1px dashed var(--main-color2);
    &:hover {
      border-bottom-color:var(--white)
    }
  }
}

.pill {
  @include gradient-border(var(--main-color2), var(--main-color3), var(--main-color5), 1px, 'to right');
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 3px 10px;
  position: relative;
  top: -5px;
  left: 20px;
  font-weight: lighter;
  color: var(--main-color5);
  -webkit-text-fill-color: var(--main-color5);
  letter-spacing: 3px;
}

$border: 1px;

.gradient-box {
  border-style:solid;
  border-image-slice: 1;
  border-width: $border;
  border-image-source: linear-gradient(to right, var(--main-color1), var(--main-color2),  var(--main-color3), var(--main-color4));
}

.gradient-bottom-only {
  border-bottom-width: $border;
  border-top-width:0;
  border-left-width:0;
  border-right-width:0;
}

.breadcrumbs {
  list-style:none;
  margin:30px 0 -10px 0;
  padding:0;
  li {
    display:inline;
    padding: 5px 0px;
    border-bottom: 1px dashed var(--main-color2);
    margin-right:10px;
    font-size:14px;
    font-weight:lighter;
    color:#808080;
    a {
      border-bottom:none;
    }
    &:hover {
      color:var(--white);
    }
    &.on {
      border-bottom-color:transparent;
    }
  }
}
.content a {
  border-bottom: 1px dashed var(--main-color2);
  &:hover {
    border-bottom-color:var(--white)
  }
}

pre {
  padding:20px;
  border:1px solid var(--main-color2)
} 

#ct_cEK9vGxCJKo {
  display: none;
}

.loading-spinner {
  display: inline-block;
  width:25px;
  height:25px;
  position:relative;
  top:5px;
  left:-5px;
  border-radius:50%;
  border:4px solid;
  border-color:var(--main-color5) #0000;
  animation:s1 1s infinite;
}
@keyframes s1 {to{transform: rotate(.5turn)}}

@include mobile {
  h3 .pill {
    display:none;
  }
}