@import 'breakpoints.scss';


.header {
  position: relative;
  max-width: var(--max-width);
  height: 80px;
  margin: 20px auto;

  background: var(--dark-grey);
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
}

.header .logo {
  margin: 7px 15px 15px 18px;
  vertical-align: middle;
}

.header h1 {
  margin: 0;
  font-size: 30px;
  top: 3px;
  position: relative;

  a {
    position: relative;
    z-index: 1;
  }
}

.header .btn {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}

.header>ul {
  list-style: none;
  padding: 0;
  margin: -50px 187px 0 0;
  text-align: right;
  position: relative;

  li {
    display: inline;
    padding: 0 20px;
    text-transform: uppercase;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

@include mobile {
  .header {
    margin-bottom: 60px;

    ul {
      margin: 20px auto 0;
      text-align: center;
    }

    h1 {
      font-size: 20px;
    }

    .logo {
      transform: scale(.75);
      margin-right: 0;
    }
  }

}

.pill {
  @include gradient-border(var(--main-color1), var(--main-color3), var(--main-color5), 1px, 'to right');
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 3px 10px;
  position: relative;
  top: -8px;
  left: 20px;
  font-weight: lighter;
  color: rgb(255, 255, 255, .75);
}

.flyoutMenuWrapper {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 10px;
  right: 10px;

  .pill {
    top:-3px;
    left:auto;
  }
}

.flyoutMenu {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 140px;
  color: var(--white);
  padding: 10px 15px;
  text-indent: 0;
  text-transform: uppercase;
  background: var(--dark-grey);
  z-index: 1;
  border-radius: 10px;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      text-align: left;
      font-size: 14px;
      padding: 7px 0;
    }
  }
}

.hidden {
  display: none;
}

@include mobile {
  h1 .pill {
    display: none;
  }
}

@include tablet {
  h1 .pill {
    display: none;
  }
}