@import 'breakpoints.scss';

.main {
  text-align: center;
}
.home {
  padding:0;
}

.box {

  font-family: 'BankGothic DB', sans-serif;
  ol {
    background: url('../public/bg_rectangle1.svg') no-repeat;
    background-size:contain;
    padding: 20px 4vw;
    min-height:337px;
  }

}

.main h1 {
  text-align:left;
  font-size:38px;
  text-transform: unset;
  font-weight:300;
  max-width:650px;
  strong {
    color:var(--main-color3);
    font-weight:400;
  }
  em {
    font-style: normal;
    font-weight:400;
  }
}

.homeRow {
  margin-top:20px;
  display: grid;
  grid-template-columns: 49% 49%;
  text-align:left;
  row-gap: 20px;
  column-gap: 2%;
  justify-items: center;

  .box {
    width:100%;
    &:last-child ol {
      background-image:url('../public/bg_rectangle2.svg');
    }
  }

  ol {
    margin:0;
    padding:50px 30px;
    list-style-position: inside;
  }
  a {
    border-bottom: none;
    &:hover {
      color:var(--main-color3);
    }
  }
  li {
    padding:0;
    margin: 10px 0;
    border-bottom:1px solid rgba(255,255,255, .15);
    list-style-position: inside;
  }
  span {
    padding-left:30px;
    float:right;
  }
}

.mainRow {
  padding:5vh 4vw;
  max-width:var(--max-width);
  background: url('../public/ethrank_logo.svg') no-repeat 100% 50%;
  background-size:26%;
  max-width:var(--max-width);
  margin: 40px auto 0;
  min-height: 373px;
  a.btn {
    margin:20px 0;
    strong {
      font-size:22px;
      padding:20px 40px;
      border-bottom:none !important;
      display:inline-block;
    }
  } 
  .connect {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    align-content: center;
    align-items: center;
  }
  .manualOption {
    font-size:14px;
    padding-left:20px;
    a {
      position:relative;
      left:10px;
    }
  }
}

.adRow {
  display: grid;
  justify-items: center;
  margin:20px 0;
  position: relative;
  top: 50px;
  a {
    border-bottom: none;
  }
}

.banner {
  padding: 35px 30px;
  text-align:center;
  max-width:var(--max-width);
  margin:20px auto;
  background:url('../public/bg_rectangle4.svg') no-repeat 50% 50%;
  background-size:contain;
  font-family: 'BankGothic DB', sans-serif;
}

.claimRow {
  margin-top:20px;
  display: grid;
  grid-template-columns: 50% 38%;
  text-align:left;
  row-gap: 2%;
  column-gap: 4vw;
  justify-items: center;
  align-items: center;
  margin:20px auto;
  // background: var(--dark-grey) url('../public/bg_mintnow.svg') no-repeat 0 50%;
  max-width:var(--max-width);
  background-size: 50%;
  .colOne {
    margin:0 0 -3vh 10%;
    svg {
      width: 100%;
    }
  }
  h1 {
    margin-bottom:20px;
  }
  h3 {
    margin: 0 0 10px;
    font-weight:normal;
    color:var(--main-color4);
    text-transform: none;
    font-size:18px;
  }
  h2 {
    font-weight:300;
    margin:0 0 20px;
    font-size:38px;
    text-transform: none;
    max-width:400px;
    color:var(--white);
    strong {
      color:var(--main-color5);
      font-weight:400;
    }
  }
  a strong {
    font-size:18px;
    padding:10px 40px;
    border-bottom:none !important;
    display:inline-block;
  }
}


.error, .success {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:var(--main-color4);
  text-align: center;
  padding: 10px;
  p {
    display: inline;
    margin:0;
    padding-right:20px;
    color:var(--black);
  }
  button {
    display:inline;
    border:1px solid var(--black);
    border-radius:10px;
    padding:10px 20px;
    color:var(--black);
    cursor: pointer;
  }
  a {
    text-decoration: underline;
  }
}

.success {
  background:var(--main-color5);
  color:var(--dark-grey);
}

@include tablet {
  .homeRow {
    li {
      font-size:12px;
    }
  }
}


@include mobile {
  .claimRow {
    grid-template-columns: 100%;
    column-gap: 4%;
    h2 {
      font-size:20px;
    }
  }
  .claimRow .colOne {  
    margin: -20px 0;
  }
  .claimRow .colTwo {
    padding:5vh 8vw;
  }
  .homeRow {
    grid-template-columns: 100%;
    .box {
      padding:8vw;
      ol {
        padding:4vw;
        min-height:300px;
      }
      li {
        font-size:12px;
      }
    }
  }
  .mainRow {
    padding:5vh 8vw;
  }
  .main {
    h1 {
      font-size:30px;
    }
  }
}