@import 'breakpoints.scss';

.main {
  text-align: center;
}
.home {
  padding:0;
}

.box {

  ol {
    padding: 20px 2vw;
  }

}

.main h1 {
  text-align:left;
  font-size:52px;
  font-weight:500;
  max-width:650px;
  letter-spacing: -1px;
  text-wrap: nowrap;
  white-space: pre;
  strong {
    background: linear-gradient(180deg, var(--main-color5) 0, var(--main-color4) 25%, var(--main-color3) 50%, var(--main-color2) 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:700;
  }
  em {
    font-style: normal;
    font-weight:500;
  }
}

.homeRow {
  margin-top:20px;
  display: grid;
  grid-template-columns: 49% 49%;
  text-align:left;
  row-gap: 20px;
  column-gap: 2%;
  justify-items: center;
  border-radius: 2rem;
  align-items: center;

  .box {
    width:100%;
    &:last-child ol {
      background-image:url('../public/bg_rectangle2.svg');
    }
  }

  ol {
    margin:0;
    padding:50px 30px;
    list-style-position: inside;
  }
  a {
    border-bottom: none;
    &:hover {
      color:var(--main-color3);
    }
  }
  li {
    padding:0;
    margin: 10px 0;
    border-bottom:1px solid rgba(255,255,255, .15);
  }
  span {
    padding-left:30px;
    float:right;
  }
}

.mainRow {
  position:relative;
  max-width:var(--max-width);
  display:grid;
  grid-template-columns: 40% 50%;
  margin: 40px auto 0;
  column-gap: 5vw;
  align-items: center;
  a.btn {
    margin:20px 0;
    strong {
      font-size:18px;
      padding:16px 40px;
      border-bottom:none !important;
      display:inline-block;
    }
  } 
  .connect {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0;
    align-content: center;
    align-items: center;
  }
  .manualOption {
    font-size:14px;
    padding-left:20px;
    a {
      position:relative;
      left:10px;
    }
  }
  .colOne {
    margin:-8vh -3vw -3vh;
  }

  .colTwo {
    padding:4vh 0;
    h1 {
      font-size:40px;
    }
  }

  img {
    max-width: 140%;
    height: auto;
  }
}

.adRow {
  display: grid;
  justify-items: center;
  margin:20px 0;
  position: relative;
  top: 50px;
  a {
    border-bottom: none;
  }
}

.banner {
  padding: 35px 30px;
  text-align:center;
  max-width:var(--max-width);
  margin:20px auto;
  background:url('../public/bg_rectangle4.svg') no-repeat 50% 50%;
  background-size:contain;
}


.mintWidget {
  display: grid;
  grid-template-columns: 46% 54%;
  text-align:left;
  row-gap: 2%;
  align-items: center;
}


.claimRow {
  margin:20px auto;
  max-width:var(--max-width);
  min-height:490px;
  .colOne {
    min-height:475px;
    position: relative;
    margin:0 0 -3vh -3vw;
    // background: url('../public/bg-badge.png') no-repeat 50% 50%;
    // background-size: contain;
    grid-area: 1 / 2 / 1 / 2;
    .badgeContainer {
      display: grid;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      grid-template-columns: 100%;
    }
    .badgeLoading {
      grid-area: 1 / 1 / 1 / 1;
      position: relative;
      z-index: 3;
    }
    svg {
      z-index: 2;
      position: relative;
      transform: scale(1);
      animation: pulse 6s infinite;
      max-width: 62%;
      grid-area: 1 / 1 / 1 / 1;
      position: relative;
      left: 11px;
    }
    video {
      width: 92%;
      grid-area: 1 / 1 / 1 / 1;
      mix-blend-mode: lighten;
    }
  }
  h1 {
    margin-bottom:20px;
  }
  h3 {
    margin: 2vh 0;
    font-weight:normal;
    color:var(--white);
    text-transform: none;
    font-size:18px;
    opacity:.5;
    background:none;
    -webkit-text-fill-color: inherit;
  }
  h2 {
    font-weight:300;
    margin:0 0 20px;
    font-size:38px;
    text-transform: none;
    max-width:400px;
    color:var(--white);
    strong {
      color:var(--main-color5);
      font-weight:400;
    }
  }
  a strong {
    font-size:18px;
    padding:10px 40px;
    border-bottom:none !important;
    display:inline-block;
  }
  .colTwo {
    grid-area: 1 / 1 / 1 / 1;
    position:relative;
    left: 4vw;
    min-height: 237px;
  }
}

.leaderboard, .latestScores {
  h2 {
    display:grid;
    grid-area: 1 / 1 / 1 / 3;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin: 40px 0 -40px;
    background: linear-gradient(180deg, #FFF 30%, #999 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .box {
    ol {
    }
    li {
      margin:0;
      display: flex;
      padding: 1.25rem 1.875rem;
      justify-content: space-between;
      align-items: flex-end;
      align-self: stretch;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.00) 100%);
      &:nth-child(odd) {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.03) 100%);
      }
      &:first-child {
        border-radius:35px 35px 0 0;
      }
      &:last-child {
        border-radius:0 0 35px 35px;
      }
    }
  }

}

.leaderboard {
  .box {
    grid-area: 2 / 1 / 2 / 1;
  }
  img {
    grid-area: 2 / 2 / 2 / 2;
    max-width: 100%;
    height: auto;
  }
}

.latestScores {
  img {
    grid-area: 2 / 1 / 2 / 1;
    z-index: 1;
    position: relative;
  }
  .box {
    grid-area: 2 / 2 / 2 / 2;
    z-index: 2;
    position: relative;
  }
}

.devOfferings {
  grid-template-columns: 100%;
  .box {
    padding:6vh 6vw;
  }
  h3 {
    margin-top:0;
  }
  li {
    border-bottom: none;
    font-size:13px;
  }
}


.error, .success {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:var(--main-color4);
  text-align: center;
  padding: 10px;
  z-index: 10;
  p {
    display: inline;
    margin:0;
    padding-right:20px;
    color:var(--black);
  }
  button {
    display:inline;
    border:1px solid var(--black);
    border-radius:10px;
    padding:10px 20px;
    color:var(--black);
    cursor: pointer;
  }
  a {
    text-decoration: underline;
  }
}

.success {
  background:var(--main-color5);
  color:var(--dark-grey);
}

@include tablet {
  .mainRow {
    margin: 40px 20px 0;
    img {
     max-width: 100%;
    }
  }
  .homeRow {
    li {
      font-size:12px;
    }
  }
  .main h1, .main .colTwo h1 {
    font-size:36px;
  }
  .checkRow {
    grid-template-columns:100%;
    justify-items: center;
  }
  .colOne {
    video {
      top: 18%;
      left: 3%;
      width: 92%;
    }
  }
}


@include mobile {
  .mintWidget {
    grid-template-columns: 100%;
    column-gap: 4%;
    h2 {
      font-size:20px;
    }
  }
  .claimRow .colOne {  
    margin: -20px 0;
    grid-area: 1 / 1 / 1 / 1;
  }
  .claimRow .colTwo {
    padding:5vh 8vw;
    grid-area: 2 / 1 / 2 / 1;
    left:0;
  }
  .homeRow {
    grid-template-columns: 100%;
    .box {
      padding:0 8vw 4vh;
      grid-area: auto;
      ol {
        padding:2vw;
        min-height:300px;
      }
      li {
        font-size:12px;
      }
    }
    h2 {
      grid-area: auto;
    }
    img { display:none; }

  }
  .devOfferings {
    .box {
      padding: 0;
    }
  }
  .mainRow {
    padding:5vh 8vw;
    margin: 40px 20px 0;
  }
  .main {
    h1 {
      font-size:30px;
    }
  }
  .mainRow img {
    max-width: 100%;
  }
  .main h1, .main .colTwo h1 {
    font-size:26px;
  }
  .checkRow {
    margin-top:200px;
    grid-template-columns:100%;
    justify-items: center;
  }
  .colOne {
    video {
      top: 18%;
      left: 3%;
      width: 92%;
    }
  }

  .leaderboard, .latestScores {
    h2 {
      margin:40px 0 0;
    }
  }
}

.spinner {
  margin-left: 10px;
  border: 2px solid var(--main-color3);
  border-top: 2px solid var(--main-color2);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  display:inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}