.user {
    h4 {
        display:inline-block;
        width:80%;
        margin: 10px 0 -4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1px 25px 1px 10px; 
    }
}