

.score {
    display: grid;
    grid-template-columns: 48% 48%;
    text-align:center;
    row-gap: 30px;
    column-gap: 6%;
    justify-items: center;
    box-sizing:content-box;
    margin:60px 0;
}

.score h3 {
    margin:0;
    font-size:55px;
}

.score h5 {
    margin:0;
    font-size:24px;
    color:var(--white);
}
